.category
    padding-top: 120px
    min-height: 90vh
    .posts__boxLeft
        p
            font-size 12px
        h2
            font-size 22px
        .box
            &-text
                display flex
                margin-bottom -1px
                position relative
                z-index 1x
                a
                    color #000
                    border-radius 5px 5px 0 0
                    transition .2s
                    h2
                        line-height initial
                        width fit-content
                        padding 5px
                        transition .2s
                    &:active
                        color #000                        
                
            &-inf    
                padding 5px
                border-radius 5px 5px 0 0
                width fit-content
                line-height initial
                transition .2s
                margin-left auto
                display flex
                align-items: center
                min-height 50px 
                &--2
                    background #000
                    width 1px
                    height 100%
                    margin-right: 5px
                    transition .2s
            &-context
                position absolute
                line-height initial
                opacity 0
                bottom 0
                color #fff
                background rgba(0,0,0, .6) 
                padding 20px
                width 100%
                transition .2s
            &-img
                position relative
                border 1px solid rgba(255,255,255, 0)
                transition .2s
                z-index 0
                a
                    display block
                    line-height 0
                img
                    max-width 100%
                    height auto
        .posts__list
            display flex
            flex-wrap wrap
            .liste-posts-content
                &--unico
                    flex 1 1 49%
                    .box-inf
                        &--2
                            margin: 0 5px
                height fit-content
                &:nth-child(even)
                    margin-left auto
                &:nth-child(odd)
                    margin-right auto
                flex 0 1 49%
                &:hover
                    .box
                        &-inf
                            color #fff
                            background rgba(0,0,0, .85)
                            // box-shadow 0 0 4px 0 rgba(0, 0, 0, .85)
                            transition .2s
                            &--2
                                background #fff
                                transition .2s
                        &-text
                            p
                                color #fff
                                transition .2s
                            a
                                background rgba(0, 0, 0, .85)
                                // box-shadow 0 0 4px 0 rgba(0, 0, 0, .85)
                                transition .2s
                                h2
                                    color #fff
                                    transition .2s
                        &-context
                            opacity 1
                            transition .2s
                        &-img
                            // box-shadow 0 0 4px 0 rgba(0, 0, 0, .85)
                            border 1px solid #000
                            transition .2s