.post
    padding-top: 120px
    min-height: 90vh
    .container
        .main
            .post__content
                h1
                    margin-bottom 20px
                a, p
                    display block
                    width 100%
                    text-align center
                    margin 20px 0
                .box-img
                    img
                        max-width 100%
                        height auto
                        margin 0 auto
                        display block
            