.post
    padding-top: 100px
    .container
        .main
            .post__content
                a, p
                    display block
                    width 100%
                    text-align center
                .box-img
                    img
                        max-width 100%
                        height auto
                        margin 0 auto
                        display block