.search
    padding-top: 120px
    min-height: 90vh
    li
        list-style none
    .posts__boxLeft
        .box-img
            img
                max-width 100%
                height auto
                margin 0 auto
                display block
