*
    box-sizing border-box
    margin 0
    text-decoration none
    font-family 'Roboto' ,sans-serif
main
    background #eee
.container
    margin 0 auto
    width 1280px
    #breadcrumbs>span
        background #fff
        border-radius 5px 5px 0 0
        position relative
        padding 5px
        z-index 1
.posts__content
    display flex
.posts__boxLeft
    flex 0 1 70%
    background #fff
    border-radius 5px 5px 0 0
    box-shadow 0 0 10px #999
    padding 15px
.posts__boxRight
    flex 0 1 25%
    margin 0 0 0 auto
    .widget
        margin-bottom 30px
        box-shadow 0 0 10px #999
        border-radius 3px
        overflow hidden
        background #fff
        &_search
            border none
            box-shadow none
    .wp-block-group
        ul
            margin 15px
            padding 0
            li
                list-style none
                border-bottom 1px solid rgba(0,0,0, 0)
                a
                    color #000
                    font-size 12px
                    border-radius 0 0 5px 0
                    transition .2s
                    &:active
                        color #000
                    &:hover
                        border-bottom 1px solid #cecece
                        transition .2s
        h2
            font-size 22px
            padding 5px
            margin 0 0 15px
            color #fff
            text-align center
            background #000
.custom-botao
    display block
    padding 10px 20px
    text-decoration none
    background-color #cecece
    color #fff
    border-radius 30px
    margin 10px auto 0
    width 339px
    transition .2s
    &:hover
        opacity .8
        color #353535